<h1>
  Edit recommend #<%= @recommend.id %>
</h1>

<hr>

    <div class="row mb-3">
      <div class="col">
        <a href="/recommends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_recommend/<%= @recommend.id %>" class="btn btn-block btn-outline-secondary">
          Delete recommend
        </a>
      </div>
    </div>

<div class="card-body">
    <h4 class="card-title">Song: <%= Song.find(@recommend.song_id).artist%> - <%= Song.find(@recommend.song_id).song_name%></h4>
    <h6 class="card-subtitle mb-2 text-muted">Activity: <%= Activity.find(@recommend.activity_id).activity_name%></h6>
  </div>

<form action="/update_recommend/<%= @recommend.id %>" method="post">
    <div class="form-group">
      <label for="text">Write your recommend</label>
      <input type="text" id="text" name="text" class="form-control" value = "<%=@recommend.text%>" >
    </div>
  <button class="btn btn-block btn-outline-secondary">
    Update recommend
  </button>
</form>

<hr>

<a href="/recommends">
  Go back
</a>
