<!-- Validation failure messages -->
<% if @recommend.present? %>
  <% if @recommend.errors.any? %>
    <% @recommend.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new recommend
</h1>


<hr>

<form action="/create_recommend" method="post">


  <div class="form-group">
    <div class="form-group">
  <fieldset>
    <label class="control-label" for="readOnlyInput">User</label>
    <input class="form-control" id="readOnlyInput" type="text" placeholder="<%=current_user.username%>" readonly="">
  </fieldset>
</div>
 
    
    <fieldset class="form-group">
      <legend>Activity</legend>
      <% @activities.each do |activity| %>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="activity_id" id="activity_id" value=<%=activity.id%> checked="">
          <%=activity.activity_name%>
        </label>
      </div>
      <% end %>
    </fieldset>
 
  
      <div class="form-group">
      <label for="song_id">Song</label>
      <select id="song_id" name="song_id" class="form-control" id="song_id">
        <% @songs.each do |song| %>
        <option value=<%=song.id%>><%=song.artist%> - <%=song.song_name%></option>
        <% end %>
        </select>
    </div>

    <div class="form-group">
      <label for="text">Write your recommend</label>
      <input type="text" id="text" name="text" class="form-control">
    </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>

<hr>

<a href="/recommends">
  Go back
</a>
