<!-- Validation failure messages -->
<% if @playlists_song.present? %>
  <% if @playlists_song.errors.any? %>
    <% @playlists_song.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
        </br>
        You can add "<%= Song.find(@playlists_song.song_id).song_name%>" to another playlist,
        or add another song to "<%= Playlist.find(@playlists_song.playlist_id).playlist_name%>" playlist
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add songs to your playlists
</h1>


<hr>


<form action="/create_playlists_song" method="post">
  <fieldset class="form-group">
      <legend>Choose one of you playlists</legend>
      <% @lists.each do |playlist| %>
      <% if playlist.user_id == current_user.id %>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"  id="playlist_id" name="playlist_id" value=<%=playlist.id%>>
          <%=playlist.playlist_name%>
        </label>
      </div>
      <% end %>
      <% end %>
   </fieldset>


      <div class="form-group">
      <legend>Add multiple songs by pressing "ctrl"</legend>
      <select  class="form-control" id="song_id[]" name="song_id[]" multiple="multiple">
        <%= @songs = Song.all%>
        <% @songs.each do |song| %>
        <option value=<%=song.id%>><%=song.artist%> - <%=song.song_name%></option>
        <% end %>
      </select>
    </div>

  <button class="btn btn-block btn-outline-secondary">
    Add songs to playlist
  </button>
</form>

<hr>

<a href="/playlists_songs">
  Go back
</a>
