<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All playlists
    </h1>
  
    <a href="/playlists/new" class="btn btn-block btn-outline-secondary">
      Add a new playlist
    </a>
    <a href="/playlists_songs/new" class="btn btn-block btn-outline-secondary">
      Add songs to a playlist
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Playlist name
        </th>
        
        <th>
          Owner
        </th>
        
        <th>
          Description
        </th>
        
        <th>
          Latest song added
        </th>


        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @playlists.reverse_each do |playlist| %>
      <tr>
        <td>
          <%= playlist.playlist_name %>
        </td>
        
         <td>
          <a href="/composers/<%= playlist.user_id%>" class="card-link"><%= User.find(playlist.user_id).username %></a>
        </td>
        
        <td>
          <%= playlist.description %>
        </td>

        <td>
        <% @playlists_songs.reverse_each do |playlists_song| %>
        <% if playlist.id == playlists_song.playlist_id %>
        <p><%= Song.find(playlists_song.song_id).artist %> - <%= Song.find(playlists_song.song_id).song_name %></p>
        <%end%>
        <%break if playlist.id == playlists_song.playlist_id%>
        <%end%>
        </td>

        <td>
          <%= playlist.created_at %>
        </td>
        <td>
          <%= time_ago_in_words(playlist.updated_at) %> ago
        </td>

        <td>
          <a href="/playlists/<%= playlist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
